## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
publish/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.snupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## IDE
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db

## Docker
docker-compose.override.yml

## Working files
output/
reference/
sample/*.tmp
